mat-card {
  margin: 0.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .card-thumb {
    border-radius: 1rem;
    overflow: hidden;
    object-fit: contain;
  }
  .card-content {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
  }
  .details_btn {
    width: 2rem;
    height: 2rem;
    mat-icon {
      font-size: 2rem;
    }
  }
}
