/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color_primary{
    background-color: #673AB7;
}

.color_accent{
    background-color: #FFD740;
}